[api]
user_agent = "MQTT Weather (change-me@example.com"
uk_met_api = "UK's MET API Key"

# List of custom locations

[[locations]]
name = "london bridge"
lat = 51.5078788
lon = -0.0877321
display_name = "London Bridge"

# A single place can have multiple names

[[locations]]
names = ["best tea", "spiffiest tea"]
lat = 53.8804232
lon = -1.8268216
display_name = "Yorkshire Tea"
