[Unit]
Description=MQTT Weather Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/python3 /app/main.py --config=config.toml

[Install]
WantedBy=multi-user.target